services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    # Port 3000 tidak perlu dibuka ke publik (cukup internal docker)

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - nextjs-app